[submodule "ace-window"]
	path = lib/ace-window
	url = https://github.com/abo-abo/ace-window
  branch = master
[submodule "async"]
	path = lib/async
	url = https://github.com/jwiegley/emacs-async
  branch = master
	signingkey = DE55B769FC578A14A5BE5430C144D8F4F19FE630
[submodule "atomic-chrome"]
	path = lib/atomic-chrome
	url = git@github.com:alpha22jp/atomic-chrome.git
  branch = master
[submodule "auctex"]
	path = lib/auctex
	url = https://git.savannah.gnu.org/git/auctex.git
  branch = master
	info-path = doc
	build-nix-shell-packages = autoconf emacs gnumake perl tetex texinfo
	build-step = ./autogen.sh
	build-step = ./configure --without-texmf-dir
	build-step = make
  build-step = borg-update-autoloads
  build-step = borg-makeinfo
[submodule "auth-password-store"]
	path = lib/auth-password-store
	url = https://github.com/DamienCassou/auth-password-store
  branch = master
[submodule "auto-compile"]
	path = lib/auto-compile
	url = https://github.com/tarsius/auto-compile
  branch = master
[submodule "avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy
  branch = master
[submodule "beginend"]
	path = lib/beginend
	url = https://github.com/DamienCassou/beginend
  branch = master
[submodule "biblio"]
	path = lib/biblio
	url = git@github.com:cpitclaudel/biblio.el.git
  branch = master
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg
  branch = master
	signingkey = 8F44F72AB931831C
[submodule "borg-nix-shell"]
	path = lib/borg-nix-shell
	url = https://github.com/thblt/borg-nix-shell
  branch = master
[submodule "bug-hunter"]
	path = lib/bug-hunter
	url = git@github.com:Malabarba/elisp-bug-hunter.git
  branch = master
[submodule "closql"]
	path = lib/closql
	url = https://github.com/emacscollective/closql
  branch = master
[submodule "color-identifiers-mode"]
	path = lib/color-identifiers-mode
	url = https://github.com/ankurdave/color-identifiers-mode
  branch = master
[submodule "company"]
	path = lib/company
	url = https://github.com/company-mode/company-mode
  branch = master
[submodule "company-auctex"]
	path = lib/company-auctex
	url = https://github.com/alexeyr/company-auctex
  branch = master
[submodule "company-irony"]
	path = lib/company-irony
	url = https://github.com/Sarcasm/company-irony
  branch = master
[submodule "company-irony-c-headers"]
	path = lib/company-irony-c-headers
	url = https://github.com/hotpxl/company-irony-c-headers
  branch = master
[submodule "counsel-projectile"]
	path = lib/counsel-projectile
	url = https://github.com/ericdanan/counsel-projectile
  branch = master
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el
  branch = master
[submodule "diminish"]
	path = lib/diminish
	url = https://github.com/myrjola/diminish.el
  branch = master
[submodule "dired+"]
	path = lib/dired+
	url = https://github.com/emacsmirror/dired-plus
  branch = master
[submodule "ebib"]
	path = lib/ebib
	url = https://github.com/joostkremers/ebib
  branch = master
[submodule "emacsql"]
	path = lib/emacsql
	url = https://github.com/skeeto/emacsql
  branch = master
  build-nix-shell-packages = llvmPackages.clang.cc
[submodule "erc-hl-nicks"]
	path = lib/erc-hl-nicks
	url = https://github.com/leathekd/erc-hl-nicks
  branch = master
[submodule "esxml"]
	path = lib/esxml
	url = https://github.com/tali713/esxml
  branch = master
[submodule "etc/yasnippet/snippets"]
	path = etc/yasnippet
	url = https://github.com/thblt/yasnippet-snippets
  branch = master
[submodule "evil"]
	path = lib/evil
	url = https://github.com/emacs-evil/evil
[submodule "evil-nerd-commenter"]
	path = lib/evil-nerd-commenter
	url = https://github.com/redguardtoo/evil-nerd-commenter
  branch = master
[submodule "eyebrowse"]
	path = lib/eyebrowse
	url = https://github.com/wasamasa/eyebrowse
  branch = master
[submodule "eziam-theme-emacs"]
	path = lib/eziam-theme-emacs
	url = https://github.com/thblt/eziam-theme-emacs
  branch = master
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el
  branch = master
[submodule "finalize"]
	path = lib/finalize
	url = https://github.com/skeeto/elisp-finalize
  branch = master
[submodule "flycheck"]
	path = lib/flycheck
	url = https://github.com/flycheck/flycheck
  branch = master
[submodule "flycheck-irony"]
	path = lib/flycheck-irony
	url = https://github.com/Sarcasm/flycheck-irony
  branch = master
[submodule "flycheck-rust"]
	path = lib/flycheck-rust
	url = https://github.com/flycheck/flycheck-rust/
[submodule "flyspell-correct"]
	path = lib/flyspell-correct
	url = https://github.com/d12frosted/flyspell-correct
  branch = master
[submodule "forge"]
	path = lib/forge
	url = https://github.com/magit/forge
  branch = master
[submodule "geiser"]
	path = lib/geiser
	url = https://github.com/jaor/geiser.git
  branch = master
	load-path = elisp
[submodule "general"]
	path = lib/general
	url = https://github.com/noctuid/general.el
  branch = master
[submodule "ghub"]
	path = lib/ghub
	url = https://github.com/magit/ghub
  branch = master
[submodule "graphql"]
	path = lib/graphql
	url = https://github.com/vermiculus/graphql.el
  branch = master
[submodule "haskell-mode"]
	path = lib/haskell-mode
	url = https://github.com/haskell/haskell-mode
  branch = master
[submodule "helm"]
	path = lib/helm
	url = https://github.com/emacs-helm/helm
[submodule "helm-bibtex"]
	path = lib/helm-bibtex
	url = git@github.com:tmalsburg/helm-bibtex.git
  branch = master
[submodule "highlight-indent-guides"]
	path = lib/highlight-indent-guides
	url = https://github.com/DarthFennec/highlight-indent-guides
  branch = master
[submodule "hlint-refactor"]
	path = lib/hlint-refactor
	url = git@github.com:mpickering/hlint-refactor-mode.git
  branch = master
[submodule "htmlize"]
	path = lib/htmlize
	url = https://github.com/hniksic/emacs-htmlize
  branch = master
[submodule "hydra"]
	path = lib/hydra
	url = https://github.com/abo-abo/hydra
  branch = master
[submodule "intero"]
	path = lib/intero
	url = https://github.com/commercialhaskell/intero
  branch = master
	load-path = elisp
[submodule "irony"]
	path = lib/irony
	url = https://github.com/Sarcasm/irony-mode
  branch = master
	build-nix-shell-packages = cmake llvmPackages.clang.cc
	build-step = mkdir build
	build-step = "cd build; cmake ../server; make"
	build-step = borg-update-autoloads
	build-step = borg-byte-compile
	build-step = borg-makeinfo
[submodule "ivy"]
	path = lib/ivy
	url = https://github.com/abo-abo/swiper
  branch = master
[submodule "kurecolor"]
	path = lib/kurecolor
	url = https://github.com/emacsfodder/kurecolor
  branch = master
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit
  branch = master
[submodule "magit-popup"]
	path = lib/magit-popup
	url = https://github.com/magit/magit-popup.git
  branch = master
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
  branch = master
[submodule "move-text"]
	path = lib/move-text
	url = https://github.com/emacsfodder/move-text
  branch = master
[submodule "mu4e"]
	path = lib/mu4e
	url = git@github.com:djcb/mu.git
  branch = master
  build-nix-shell-packages = gnumake autoconf automake m4 libtool pkgconfig glib gmime xapian emacs texinfo
  build-step = ./autogen.sh
  build-step = make
  load-path = mu4e
  info-path = mu4e
[submodule "mwim"]
	path = lib/mwim
	url = https://github.com/alezost/mwim.el
  branch = master
[submodule "nav-flash"]
	path = lib/nav-flash
	url = https://github.com/rolandwalker/nav-flash
  branch = master
[submodule "nix-mode"]
	path = lib/nix-mode
	url = https://github.com/NixOS/nix-mode
  branch = master
[submodule "nixpkgs"]
	path = lib/nixpkgs
	url = https://github.com/thblt/nixpkgs.el
  branch = master
[submodule "no-littering"]
	path = lib/no-littering
	url = https://github.com/tarsius/no-littering
  branch = master
[submodule "nov"]
	path = lib/nov
	url = https://github.com/wasamasa/nov.el
  branch = master
[submodule "org"]
	path = lib/org
	url = https://code.orgmode.org/bzg/org-mode.git
  branch = master
  load-path = lisp
  load-path = contrib/lisp
	info-path = doc
	build-nix-shell-packages = emacs git gnumake texinfo
	build-step = make
[submodule "org-ref"]
	path = lib/org-ref
	url = https://github.com/jkitchin/org-ref
  branch = master
[submodule "orgalist"]
	path = lib/orgalist
	url = git@github.com:emacsmirror/orgalist.git
  branch = master
[submodule "origami"]
	path = lib/origami
	url = https://github.com/gregsexton/origami.el/blob/master/origami.el
[submodule "outorg"]
	path = lib/outorg
	url = https://github.com/alphapapa/outorg
  branch = master
[submodule "outshine"]
	path = lib/outshine
	url = https://github.com/alphapapa/outshine
  branch = master
[submodule "package-lint"]
	path = lib/package-lint
	url = git@github.com:purcell/package-lint.git
  branch = master
[submodule "packed"]
	path = lib/packed
	url = https://github.com/tarsius/packed
  branch = master
[submodule "parsebib"]
	path = lib/parsebib
	url = https://github.com/joostkremers/parsebib
  branch = master
[submodule "pass"]
	path = lib/pass
	url = https://github.com/NicolasPetton/pass
  branch = master
	signingkey = 28D3BED851FDF3AB57FEF93C233587A47C207910
[submodule "password-store"]
	path = lib/password-store
	url = https://github.com/emacsmirror/password-store
  branch = master
[submodule "pdf-tools"]
	path = lib/pdf-tools
	url = https://github.com/politza/pdf-tools
  branch = master
  build-nix-shell-disable = 1
  build-step = "cd server; ./autobuild"
	build-step = borg-update-autoloads
	build-step = borg-byte-compile
	build-step = borg-makeinfo
[submodule "popwin"]
	path = lib/popwin
	url = https://github.com/m2ym/popwin-el
  branch = master
[submodule "projectile"]
	path = lib/projectile
	url = https://github.com/bbatsov/projectile
  branch = master
[submodule "queue"]
	path = lib/queue
	url = https://github.com/emacsmirror/queue
  branch = master
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters
  branch = master
[submodule "rainbow-mode"]
	path = lib/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode
  branch = master
[submodule "rust-mode"]
	path = lib/rust-mode
	url = https://github.com/rust-lang/rust-mode
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el
  branch = master
[submodule "scpaste"]
	path = lib/scpaste
	url = https://github.com/technomancy/scpaste
  branch = master
[submodule "selected"]
	path = lib/selected
	url = https://github.com/Kungsgeten/selected.el
  branch = master
[submodule "smartparens"]
	path = lib/smartparens
	url = https://github.com/Fuco1/smartparens
  branch = master
[submodule "tablist"]
	path = lib/tablist
	url = https://github.com/politza/tablist
  branch = master
[submodule "toc-org"]
	path = lib/toc-org
	url = https://github.com/snosov1/toc-org
  branch = master
[submodule "transmission"]
	path = lib/transmission
	url = https://github.com/holomorph/transmission
  branch = master
[submodule "treepy"]
	path = lib/treepy
	url = https://github.com/volrath/treepy.el
  branch = master
[submodule "unfill"]
	path = lib/unfill
	url = https://github.com/purcell/unfill
  branch = master
[submodule "visual-fill-column"]
	path = lib/visual-fill-column
	url = https://github.com/joostkremers/visual-fill-column
  branch = master
[submodule "visual-regexp"]
	path = lib/visual-regexp
	url = https://github.com/benma/visual-regexp.el
  branch = master
[submodule "websocket"]
	path = lib/websocket
	url = git@github.com:ahyatt/emacs-websocket.git
  branch = master
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor
  branch = master
[submodule "yasnippet"]
	path = lib/yasnippet
	url = https://github.com/joaotavora/yasnippet
  branch = master
[submodule "znc"]
	path = lib/znc
	url = git@github.com:sshirokov/ZNC.el.git
  branch = master
