[submodule "aggressive-indent-mode"]
	path = lib/aggressive-indent-mode
	url = https://github.com/Malabarba/aggressive-indent-mode
	branch = master
[submodule "async"]
	path = lib/async
	url = https://github.com/jwiegley/emacs-async
	branch = master
	signingkey = DE55B769FC578A14A5BE5430C144D8F4F19FE630
[submodule "atomic-chrome"]
	path = lib/atomic-chrome
	url = https://github.com/alpha22jp/atomic-chrome/
[submodule "auctex"]
	path = lib/auctex
	url = https://git.savannah.gnu.org/git/auctex.git
	branch = master
	info-path = doc
	build-nix-shell-packages = autoconf emacs gnumake perl tetex texinfo
	build-step = ./autogen.sh
	build-step = ./configure --without-texmf-dir
	build-step = make
	build-step = borg-update-autoloads
	build-step = borg-makeinfo
[submodule "auto-compile"]
	path = lib/auto-compile
	url = https://github.com/emacscollective/auto-compile
	branch = main
[submodule "avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy
	branch = master
[submodule "backline"]
	path = lib/backline
	url = https://github.com/tarsius/backline
	branch = master
[submodule "beginend"]
	path = lib/beginend
	url = https://github.com/DamienCassou/beginend
	branch = master
[submodule "bicycle"]
	path = lib/bicycle
	url = https://github.com/tarsius/bicycle
	branch = master
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg
	branch = master
	signingkey = 8F44F72AB931831C
[submodule "borg-nix-shell"]
	path = lib/borg-nix-shell
	url = https://github.com/thblt/borg-nix-shell
	branch = master
[submodule "closql"]
	path = lib/closql
	url = https://github.com/emacscollective/closql
	branch = master
[submodule "color-identifiers-mode"]
	path = lib/color-identifiers-mode
	url = https://github.com/ankurdave/color-identifiers-mode/
[submodule "company"]
	path = lib/company
	url = https://github.com/company-mode/company-mode
	branch = master
[submodule "company-auctex"]
	path = lib/company-auctex
	url = https://github.com/alexeyr/company-auctex
	branch = master
[submodule "compat"]
	path = lib/compat
	url = https://git.sr.ht/~pkal/compat
	build-nix-shell-packages = gnumake
	build-step = make
	branch = master
[submodule "consult"]
	path = lib/consult
	url = https://github.com/minad/consult
	branch = main
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el
	branch = master
[submodule "diminish"]
	path = lib/diminish
	url = https://github.com/myrjola/diminish.el
	branch = master
[submodule "dirvish"]
	path = lib/dirvish
	url = https://github.com/alexluigit/dirvish
[submodule "divine"]
	path = lib/divine
	url = https://github.com/thblt/divine
	branch = master
[submodule "doom-modeline"]
	path = lib/doom-modeline
	url = https://github.com/seagle0128/doom-modeline/
[submodule "doom-themes"]
	path = lib/doom-themes
	url = https://github.com/doomemacs/themes
[submodule "editorconfig"]
	path = lib/editorconfig
	url = https://github.com/editorconfig/editorconfig-emacs
	branch = master
[submodule "emacsql"]
	path = lib/emacsql
	url = https://github.com/skeeto/emacsql
	branch = master
	build-nix-shell-packages = llvmPackages.clang.cc
	comment = ↓ Instead of rm, try to run the binary and rm it if it fails.
	build-step = rm sqlite/emacsql-sqlite
	build-step = make binary
[submodule "embark"]
	path = lib/embark
	url = https://github.com/oantolin/embark
	branch = master
[submodule "emmet-mode"]
	path = lib/emmet-mode
	url = https://github.com/smihica/emmet-mode/
	branch = master
[submodule "erc-hl-nicks"]
	path = lib/erc-hl-nicks
	url = https://github.com/leathekd/erc-hl-nicks
	branch = master
[submodule "evil-nerd-commenter"]
	path = lib/evil-nerd-commenter
	url = https://github.com/redguardtoo/evil-nerd-commenter
	branch = master
[submodule "f"]
	path = lib/f
	url = https://github.com/rejeep/f.el
	branch = master
[submodule "flyspell-correct"]
	path = lib/flyspell-correct
	url = https://github.com/d12frosted/flyspell-correct
	branch = master
[submodule "forge"]
	path = lib/forge
	url = https://github.com/magit/forge
	branch = master
[submodule "free-keys"]
	path = lib/free-keys
	url = https://github.com/Fuco1/free-keys
	branch = master
[submodule "ghub"]
	path = lib/ghub
	url = https://github.com/magit/ghub
	branch = master
[submodule "git-modes"]
	path = lib/git-modes
	url = https://github.com/magit/git-modes
[submodule "haskell-mode"]
	path = lib/haskell-mode
	info-path = doc
	url = https://github.com/haskell/haskell-mode
	branch = master
[submodule "ht"]
	path = lib/ht
	url = https://github.com/Wilfred/ht.el
	branch = master
[submodule "htmlize"]
	path = lib/htmlize
	url = https://github.com/hniksic/emacs-htmlize
	branch = master
[submodule "hydra"]
	path = lib/hydra
	url = https://github.com/abo-abo/hydra
	branch = master
[submodule "kurecolor"]
	path = lib/kurecolor
	url = https://github.com/emacsfodder/kurecolor
	branch = master
[submodule "llama"]
	path = lib/llama
	url = https://git.sr.ht/~tarsius/llama
	branch = main
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit
	branch = master
	recursive-byte-compile = true
	info-path = Documentation
[submodule "magit-popup"]
	path = lib/magit-popup
	url = https://github.com/magit/magit-popup
	branch = master
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia
	branch = main
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
	branch = master
[submodule "mwim"]
	path = lib/mwim
	url = https://github.com/alezost/mwim.el
	branch = master
[submodule "nix-mode"]
	path = lib/nix-mode
	url = https://github.com/NixOS/nix-mode
	branch = master
[submodule "no-littering"]
	path = lib/no-littering
	url = https://github.com/tarsius/no-littering
	branch = master
[submodule "notmuch"]
	path = lib/notmuch
	url = https://git.notmuchmail.org/git/notmuch
	load-path = emacs
	branch = master
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless
	branch = master
[submodule "org"]
	path = lib/org
	url = https://git.savannah.gnu.org/git/emacs/org-mode.git
	branch = main
	load-path = lisp
	load-path = contrib/lisp
	info-path = doc
	build-nix-shell-packages = emacs git gnumake texinfo
	build-step = make
[submodule "org-contrib"]
	path = lib/org-contrib
	url = https://git.sr.ht/~bzg/org-contrib
	branch = master
[submodule "outline-minor-faces"]
	path = lib/outline-minor-faces
	url = https://github.com/tarsius/outline-minor-faces
	branch = master
[submodule "package-lint"]
	path = lib/package-lint
	url = https://github.com/purcell/package-lint
	branch = master
[submodule "packed"]
	path = lib/packed
	url = https://github.com/tarsius/packed
	branch = master
[submodule "pdf-tools"]
	path = lib/pdf-tools
	url = https://github.com/vedang/pdf-tools
	branch = master
	build-nix-shell-disable = 1
	build-step = "cd server; ./autobuild"
	build-step = borg-update-autoloads
	build-step = borg-byte-compile
	build-step = borg-makeinfo
[submodule "queue"]
	path = lib/queue
	url = https://github.com/emacsmirror/queue
	branch = master
[submodule "rainbow-mode"]
	path = lib/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode
	branch = master
[submodule "rg"]
	path = lib/rg
	url = https://github.com/dajva/rg.el
	branch = master
[submodule "rust-mode"]
	path = lib/rust-mode
	url = https://github.com/rust-lang/rust-mode
	branch = master
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el
	branch = master
[submodule "scpaste"]
	path = lib/scpaste
	url = https://git.sr.ht/~technomancy/scpaste
	branch = main
[submodule "shackle"]
	path = lib/shackle
	url = https://depp.brause.cc/shackle.git
	branch = master
[submodule "smartparens"]
	path = lib/smartparens
	url = https://github.com/Fuco1/smartparens
	branch = master
[submodule "solaris"]
	path = lib/solaris
	url = https://github.com/thblt/solaris-theme-emacs.git
	branch = master
[submodule "solarized"]
	path = lib/solarized
	url = https://github.com/bbatsov/solarized-emacs
	branch = master
[submodule "spinner"]
	path = lib/spinner
	url = https://github.com/Malabarba/spinner.el
	branch = master
[submodule "super-save"]
	path = lib/super-save
	url = https://github.com/bbatsov/super-save
	branch = master
[submodule "sway"]
	path = lib/sway
	url = https://github.com/thblt/sway.el
	branch = main
[submodule "tablist"]
	path = lib/tablist
	url = https://github.com/politza/tablist
	branch = master
[submodule "transient"]
	path = lib/transient
	url = https://github.com/magit/transient
	branch = master
[submodule "treepy"]
	path = lib/treepy
	url = https://github.com/volrath/treepy.el
	branch = master
[submodule "unfill"]
	path = lib/unfill
	url = https://github.com/purcell/unfill
	branch = master
[submodule "unkillable-scratch"]
	path = lib/unkillable-scratch
	url = https://github.com/EricCrosson/unkillable-scratch
	branch = master
[submodule "vertico"]
	path = lib/vertico
	load-path = .
	load-path = extensions
	url = https://github.com/minad/vertico
	branch = main
[submodule "visual-fill-column"]
	path = lib/visual-fill-column
	url = https://github.com/joostkremers/visual-fill-column
	branch = master
[submodule "visual-regexp"]
	path = lib/visual-regexp
	url = https://github.com/benma/visual-regexp.el
	branch = master
[submodule "vundo"]
	path = lib/vundo
	url = https://github.com/casouri/vundo
	branch = master
[submodule "websocket"]
	path = lib/websocket
	url = https://github.com/ahyatt/emacs-websocket/
[submodule "wgrep"]
	path = lib/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep/
	branch = master
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor
	branch = master
[submodule "yaml"]
	path = lib/yaml
	url = https://github.com/zkry/yaml.el
	branch = master
[submodule "yasnippet"]
	path = lib/yasnippet
	url = https://github.com/joaotavora/yasnippet
	branch = master
[submodule "yasnippet-snippets"]
	path = lib/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets
	branch = master
